body 
{
    margin: 0;
	padding: 0;
	border: 0;	
	background-image: url('../images/background.gif');
	background-repeat:repeat;
	overflow-x: hidden;
	 
           
	
}
.header
{
   margin-top:-10px;
	padding: 0;
	border: 0;	
    height:365px;
    width:auto;
    background-image:url('../images/header/header_bg.png');
    background-repeat:repeat-x;
	
 }

.anadiv {
    height: auto;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    background-color: White;
    overflow: hidden;
    -moz-boxshadow: 5px 5px 15px 3px #666;
    -webkit-box-shodow: 5px 15px 15px #666;
    box-shadow: 5px 5px 15px 3px #666;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.anadiv11
 {
     height:auto;
     width:1020px;
     margin-left:auto;
     margin-right:auto;
     background-color:White;
     -moz-boxshadow:5px 5px 15px 3px #666;
     -webkit-box-shodow:5px 15px 15px #666;
     box-shadow:5px 5px 15px 3px #666;
     border-top-left-radius:10px;
     border-top-right-radius:10px;
 }
    



.giris
{
    clear:both;
    width:400px;
    height:100px;
    float:right;
    background-image:url('../images/header/giris.png');
    background-repeat:no-repeat;
    
}
.giris1
{
   
    width:400px;
    height:100px;
    float:right;
    margin-right:-50px;
    background-repeat:no-repeat;
     clear:both;
    
}
.giris2
{
    clear:both;
    width:400px;
    height:auto;
    float:right;
    background-repeat:no-repeat;
    clear:both;
    
}


.bin24_div
{
  
    width:1020px;
    height:360px;
    margin-left:auto;
    margin-right:auto;
    background-image: url('../images/header.jpg');
    background-repeat:no-repeat;
    display:block ;
  
    }
.banner 
{
   float:left;
    margin-left:10px;
    margin-top:10px;
    width:150px;
    height:150px;
    overflow:hidden;
   
}
.banner1
{
   clear:both;
   float:left;
    margin-left:30px;
    margin-top:50px;
    width:150px;height:auto;
  
}
.tablelogin {
    clear: both;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    width: 50px;
    height: 100px;
}
   
   .a
   {
     font-weight:bold;
	
       }
#menu1 {
	clear:both;
	margin:10px auto 0 11px;
	border-radius:5px;
	margin:0px auto;
	margin-top:0px;
	margin-bottom:-2px;	
	padding:0px;
}
.menu1{
	padding-top:-3px;
	}
.menu1 li {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 2px 10px;
	margin-left:3px;
    top: 3px;
    left: 0px;
}
.menu1 li:hover {
		display:block;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.menu1 li a {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:12px; 
	outline:0;
	text-decoration:none;
		color:#058ffc;
}
.menu1 li:hover a {
	color:#000000;
	text-shadow: 0px 1px 0px #ccc;
	
}
.menu1 li a.active {
    background:#000911;
    color: #fff;
    padding:8px 15px 7px 15px;
	text-decoration:none;
}
.dropdown-1column1 {
	margin:1px auto;
	float:left;
	position:absolute;
	left:-999em;
	text-align:left;
	padding:0px 5px 0px 5px;
	border:2px solid #058ffc;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	border-top:none;
	background:#DADADA;
	background: -moz-linear-gradient(top, #f4f4f4, #d8d8d8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d8d8d8));
}
.menu1 li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}

.menu1 li ul li {
	font-size:12px;
	line-height:14px;
	position:relative;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
}
.menu1 li:hover div a {
	padding-left:3px;
	font-size:13px;
	color:#003e62;
	text-shadow:none;
}
.menu1 li:hover div a:hover {
	color:#029feb;
	text-shadow:none;
}
.menu1 ul li {
	line-height:21px;
	font-size:12px;
	text-align:left;
}
.menu1 li:hover .dropdown-1column1
 {
	left:-2px;
	top:15px;
}
div
{
      display:block;
      }
      span
{
     display :block;
          
}
* {
    margin: 0;
    padding: 0;
}

