.icerik__1 
{
    width:500px;
    height:500px;
    float:left;
    overflow-x:visible;
    overflow-y:scroll;
   
}
.icerik__2 
{
    width:500px;
    height:500px;
    float:left;
     overflow-x:visible;
    overflow-y:scroll;}

